<div class="container">
  <h3 class="text-center mt-2 mb-2">Delete Book</h3>

  <h5>You are going to delete the following book:</h5>

  <p><strong>Author: </strong>{{book.author}}</p>
  <p><strong>Title: </strong>{{book.title}}</p>
  <p><strong>Language: </strong>{{book.language}}</p>
  <p><strong>Publisher: </strong>{{book.publisher}}</p>
  <p><strong>Release date: </strong>{{book.release_date}}</p>
  <p><strong>ISBN: </strong>{{book.isbn}}</p>
  <p><strong>Pages: </strong>{{book.pages_count}}</p>
 
  <button class="btn btn-secondary btn-sm m-2" (click)="goBack()">Cancel</button>
  <button class="btn btn-secondary btn-sm m-2" (click)="deleteBook()">Delete</button>

  <div *ngIf="errorMessage" class="danger">{{errorMessage}}</div>
</div>